%table.central-table-form
  %tr
    %td{colspan: "2"}
      %h5 Informações Básicas
  %tr
    %th
      = f.label :name, "Nome:"
    %td
      .control-group
        .controls
          = f.text_field :name, class: "span6"
  %tr
    %th
      = f.label :slug, "URL:"
    %td
      .control-group
        .controls
          .input-prepend
            %span.add-on melhorespratos.com.br/
            = f.text_field :slug, class: "span-url"
  %tr
    %td{colspan: "2"}
      %h5 Informações de Contato
  %tr
    %th
      = f.label :zip_code, "CEP:"
    %td
      .control-group
        .controls
          = f.text_field :zip_code, class: "span6 cep"
  %tr
    %th
      = f.label :street, "Endereço:"
    %td
      .control-group
        .controls
          = f.text_field :street, class: "span5 margin-right-20"
          = f.text_field :street_number, class: "span1", placeholder: "Nº"
  %tr
    %th
      = f.label :neighborhood, "Bairro:"
    %td
      .control-group
        .controls
          = f.text_field :neighborhood, class: "span6"
  %tr
    %th
      = f.label :complement, "Complemento:"
    %td
      .control-group
        .controls
          = f.text_field :complement, class: "span6"
  %tr
    %th
      = label_tag :state, "Estado:"
    %td
      = select_tag :state, options_from_collection_for_select(State.all, :id, :name), class: "span6"
  %tr
    %th
      = f.label :city_id, "Cidade:"
    %td
      .control-group
        .controls
          = f.select :city_id, options_from_collection_for_select(State.first.cities, :id, :name, @restaurant.city_id), class: "span6"
  %tr
    %th
      = f.label :phone_number, "Telefones:"
    %td
      .control-group
        .controls
          = f.text_field :phone_number, class: "span3 phone margin-right-20"
          = f.text_field :extra_phone_number, class: "span3 phone"
  %tr
    %th
      = label_tag :location, "Localização:"
    %td
      %iframe{frameborder: "0", height: "350", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com.br/maps?hl=pt-BR&safe=off&ie=UTF8&q=terere&fb=1&gl=br&hq=terere&hnear=0x7ace8061adbf5b1:0xfdd77c0f2a705c23,Jo%C3%A3o+Pessoa+-+PB&cid=0,0,9536530624562847826&t=w&iwloc=A&ll=-7.126135,-34.823718&spn=0.006295,0.006295&output=embed", width: "460"}
      %br/
  %tr
    %td{colspan: "2"}
      %h5 Detalhes do Estabelecimento
  %tr
    %th
      = label_tag :types, "Tipo de Estabelecimento:"
    %td
      .control-group
        .controls
          %input#prato-tipo.span6{name: "tipo", type: "text"}/
  %tr
    %th
      = f.label :description, "Descrição:"
    %td
      .control-group
        .controls
          = f.text_area :description, class: "span6"
  %tr
    %th
      = f.label :avatar, "Imagem:"
    %td
      .control-group
        .controls
          %span.prettyFile
            %input{multiple: "multiple", name: "form[files][]", type: "file"}/
            .input-append
              %input.input-large{type: "text"}/
              %a.btn{href: "#"} Escolher Arquivo

  %tr
    %th
    %td
      = f.button class: "btn btn-large btn-theme span6 no-margin" do
        %i.icon-plus-sign
        Salvar Estabelecimento
