%table.central-table-form
  = hidden_field_tag :latitude
  = hidden_field_tag :longitude

  %tr
    %td{colspan: "2"}
      %h5 Informações Básicas
  %tr
    %th
      = f.label :name, "Nome:"
    %td
      .control-group
        .controls
          = f.text_field :name, class: "span6"
  %tr
    %th
      = f.label :slug, "URL:"
    %td
      .control-group
        .controls
          .input-prepend
            %span.add-on melhorespratos.com.br/
            = f.text_field :slug, class: "span-url"
  %tr
    %td{colspan: "2"}
      %h5 Informações de Contato
  %tr
    %th
      = f.label :zip_code, "CEP:"
    %td
      .control-group
        .controls
          = f.text_field :zip_code, class: "span6 cep"
          %span.help-inline
            = link_to "Não sabe ceu CEP? Clique aqui", "http://www.buscacep.correios.com.br/", target: :blank
  %tr
    %th
      = f.label :street, "Endereço:"
    %td
      .control-group
        .controls
          = f.text_field :street, class: "span5 margin-right-20"
          = f.text_field :street_number, class: "span1", placeholder: "Nº"
  %tr
    %th
      = f.label :neighborhood, "Bairro:"
    %td
      .control-group
        .controls
          = f.text_field :neighborhood, class: "span6"
  %tr
    %th
      = f.label :complement, "Complemento:"
    %td
      .control-group
        .controls
          = f.text_field :complement, class: "span6"
  %tr
    %th
      = label_tag :state, "Estado:"
    %td
      .control-group
        .controls
          = select_tag :state, options_for_select(State.all.map{ |s| [s.name, s.id, { data: { acronym: s.acronym } } ] }, f.object.try(:city).try(:state_id)), include_blank: true, class: "span6"
  %tr
    %th
      = label_tag :city, "Cidade:"
    %td
      .control-group
        .controls
          = f.select :city_id, options_from_collection_for_select(City.all, :id, :name, f.object.city_id), {include_blank: true}, class: "span6"
  %tr
    %th
      = f.label :phone_number, "Telefones:"
    %td
      .control-group
        .controls
          = f.text_field :phone_number, class: "span3 phone margin-right-20"
          = f.text_field :extra_phone_number, class: "span3 phone"
  %tr
    %td{colspan: "2"}
      %h5 Detalhes do Estabelecimento
  %tr
    %th
      = f.label :description, "Descrição:"
    %td
      .control-group
        .controls
          = f.text_area :description, class: "span6"
  %tr
    %th
      = f.label :logo, "Logo:"
    %td
      .control-group
        .controls
          %span.prettyFile
            = f.file_field :logo
            .input-append
              %input.input-large{type: "text"}/
              %a.btn{href: "#"} Escolher Arquivo

  %tr
    %th
      = f.label :cover, "Capa:"
    %td
      .control-group
        .controls
          %span.prettyFile
            = f.file_field :cover
            .input-append
              %input.input-large{type: "text"}/
              %a.btn{href: "#"} Escolher Arquivo

  %tr
    %th
    %td
      = f.button class: "btn btn-large btn-theme span6 no-margin" do
        %i.icon-plus-sign
        Salvar Estabelecimento


