.span12
  %article.blog-post
    .post-heading
      %h3 Editar Cardápio
  %ul.media-list.mo-border-bottom
    %li.media
      %a.pull-left.thumbnail{href: "#"}
        = image_tag @restaurant.logo_url, width: 120, height: 95, class: "media-object"
      .media-body
        %h5.media-heading
          = link_to @restaurant.name
        %p
          = @restaurant.description
        %ul#0002.post-meta.comments
          %li.first
            %i.icon-map-marker
            = @restaurant.street
          %li.last
            %span
              %i.icon-phone
              = @restaurant.phone_number
            %br/