%tr
  %td
    = link_to "#", class: "thumbnail" do
      = image_tag restaurant.logo_url(:thumb_100), alt: restaurant.name
  %td= restaurant.name
  %td 12
  %td #{restaurant.neighborhood}, #{restaurant.city.name}
  %td= restaurant.phone_number
  %td
    = link_to panel_restaurant_foods_path(restaurant), class: "btn btn-theme", rel: "tooltip", title: "Editar Cardápio", data: { placement: "right" } do
      %i.icon-food
    %br/
    %br/
    = link_to edit_panel_restaurant_path(restaurant), class: "btn btn-theme", rel: "tooltip", title: "Configurações", data: { placement: "right" } do
      %i.icon-cog
    %br/
    %br/
    = link_to publish_panel_restaurant_path(restaurant), method: :post, class: "btn btn-theme", rel: "tooltip", title: "Publicar Cardápio", data: { placement: "right" } do
      %i.icon-cog