.row
  = render "panel/restaurants/menu_info"
  = render "panel/menu_categories/sidebar"

  .span8
    %article.blog-post
      .post-heading
        %h3
          Todos os Pratos
    %ul.media-list.media-list-sub-item
      = render partial: "panel/foods/food", collection: @foods

    = render "shared/error_messages", resource: @food
    = nested_form_for @food, url: panel_restaurant_food_path(@restaurant, @food), id: "pratoform" do |f|
      = render "panel/foods/form", f: f
