#reset_password.modal.hide.fade
  .modal-header
    %button.close{ data: { dismiss: "modal" } } ×
    %h3 Recuperar Senha
  .modal-body
    %p Preencha todos os campos abaixo e efetue seu registro
    .row-registro
      = form_for :user, url: user_password_path, html: { class: "recupera-form form-horizontal" } do |f|
        .control-group
          = f.label :email, class: "control-label" do
            Email
            %span *
          .controls
            = f.email_field :email, placeholder: "Seu email"
        .control-group
          .controls.submit
            = f.submit "Recuperar Senha", class: "btn btn-theme"
  .modal-footer
    %p
      Já possui uma conta?
      = link_to "Faça Login", "#sign_in", data: { dismiss: "modal", toggle: "modal" }