#sign_in.modal.hide.fade
  .modal-header
    %button.close{ data: { dismiss: "modal" } } ×
    %h3 Login
  .modal-body
    .row-login
      %p Acesse com seu cadastro
      = form_for :user, url: user_session_path, html: { class: "login-form form-horizontal" } do |f|
        .control-group
          = f.label :email, class: "control-label" do
            Email
            %span *
          .controls
            = f.email_field :email, placeholder: "Seu email"
        .control-group
          = f.label :password, class: "control-label" do
            Senha
            %span *
          .controls
            = f.password_field :password, placeholder: "Sua senha"
        .control-group
          .controls.submit
            = f.submit "Entrar", class: "btn btn-theme"
    .row-social-login
      %p Acesse pelas redes sociais
      %ul.social-signin-group
        %li
          = link_to "#" do
            .social-signin.social-signin-twitter
        %li
          = link_to user_omniauth_authorize_path(:facebook) do
            .social-signin.social-signin-facebook
        %li
          = link_to "#" do
            .social-signin.social-signin-google
  .modal-footer
    %p
      Não possui uma conta?
      = link_to "Registre-se", "#sign_up", data: { dismiss: "modal", toggle: "modal" }
      %br/
      Esqueceu sua senha?
      = link_to "Recupere aqui", "#reset_password", data: { dismiss: "modal", toggle: "modal" }
