= f.label :name, "Nome da Categoria"
= f.text_field :name
= f.label :description, "Descrição"
= f.text_area :description
= f.button class: "btn btn-large btn-block btn-theme" do
  %i.icon-plus-sign
  Adicionar Categoria
