.span4
  %aside
    .widget
      %h4.rheading
        Categorias
        %span
      %ul#categoria-sortable.side-list
        %li= link_to "Todos os pratos (#{@restaurant.foods.count})", panel_restaurant_foods_path(@restaurant)
        - @restaurant.menu_categories.each do |category|
          %li
            = link_to "#{category.name} (#{category.foods_count})", panel_restaurant_menu_category_path(@restaurant, category) unless category.new_record?
      #new_category_errors= render "shared/error_messages", resource: menu_category
      = form_for menu_category, url: panel_restaurant_menu_categories_path, html: { id: "categoriaform", remote: true } do |f|
        = render "panel/menu_categories/form", f: f