.row-fluid.ultimocardapiocadastrado{ data: { content: restaurant.popover_info, rel: "popover", "original-title" => restaurant.popover_title } }
  .span3
    = link_to restaurant_path(restaurant), class: "thumbnail span12" do
      = image_tag restaurant.logo_url(:thumb_50), alt: restaurant.name
  .span9
    %h3
      = link_to restaurant.name, restaurant_path(restaurant)
    %p= restaurant.short_formatted_address
    %p= restaurant.phone_number
