%footer.footer
  .container
    .row
      .span3
        .widget
          %h5 Interesting pages
          %ul.regular
            %li
              = link_to "About our company", "#"
            %li
              = link_to "How we do all stuff", "#"
            %li
              = link_to "Our recent works", "#"
            %li
              = link_to "Press releases", "#"
            %li
              = link_to "Get in touch with us", "#"
      .span3
        .widget
          %h5 Outra coisa
          %div
      .span3
        .widget
          %h5 Alguma coisa
          .clear
      .span3
        .widget
          %h5 How to find us
          %address
            %i.icon-home
            %strong Lumia company, Inc.
            %br/
            X104 Awesome ville, Suite AB12
            %br/
            Jakarta 12420 Indonesia
          %p
            %i.icon-phone
            (123) 456-7890 - (123) 555-8890
            %br/
            %i.icon-envelope-alt
            email@domainname.com
        .widget
          %ul.social
            %li
              = link_to "#", title: "Twitter", data: { placemement: "bottom" } do
                %i.icon-twitter.icon-square.icon-32
            %li
              = link_to "#", title: "Facebook", data: { placemement: "bottom" } do
                %i.icon-facebook.icon-square.icon-32
            %li
              = link_to "#", title: "Linkedin", data: { placemement: "bottom" } do
                %i.icon-linkedin.icon-square.icon-32
            %li
              = link_to "#", title: "Pinterest", data: { placemement: "bottom" } do
                %i.icon-pinterest.icon-square.icon-32
            %li
              = link_to "#", title: "Google Plus", data: { placemement: "bottom" } do
                %i.icon-google-plus.icon-square.icon-32
  .verybottom
    .container
      .row-fluid
        .span4
          %p
            %small © Melhores Pratos 2013
        .span8
          %p.pull-right
            %small Cardápios de restaurantes, pizzarias, lanchonetes, churrascarias na sua cidade e no seu bairro.