%header
  .navbar.navbar-static-top
    .navbar-inner
      .container
        .logo
          = link_to root_path do
            = image_tag "logo.png"
        .navigation
          %nav
            %ul.nav.topnav
              - if user_signed_in?
                %li.dropdown
                  = link_to "#" do
                    = image_tag current_user.avatar_url, size: "24x24", class: "img-rounded"
                    = current_user.name
                    %i.icon-angle-down
                  %ul.dropdown-menu
                    %li
                      = link_to "#" do
                        %i.icon-user
                        Perfil
                    %li
                      = link_to "#" do
                        %i.icon-food
                        Publicar Cardápio
                    %li
                      = link_to panel_restaurants_path do
                        %i.icon-food
                        Meus Estabelecimentos
                    %li
                      = link_to "#" do
                        %i.icon-cog
                        Configurações
                    %li
                      = link_to destroy_user_session_path, method: :delete do
                        %i.icon-signout
                        Sair
              - else
                %li
                  = link_to "#" do
                    %i.icon-food
                    Publicar Cardápio
                %li
                  = link_to "#sign_up", data: { toggle: "modal" } do
                    %i.icon-lock
                    Registre-se
                %li
                  = link_to "#sign_in", data: { toggle: "modal" } do
                    %i.icon-signin
                    Login

= render "shared/sign_in"
= render "shared/sign_up"
= render "shared/reset_password"
