!!!
%html
  %head
    %title Melhores Pratos
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body
    .wrapper
      = render "layouts/header"
      - if controller.action_name == "home"
        = render "layouts/banner"
      - else
        = render "layouts/breadcrumbs"

      %section.maincontent
        .container
          = render "shared/flash_messages"
          = yield

      = render "layouts/footer"

    = link_to "#", class: "scrollup" do
      %i.icon-chevron-up.icon-square.icon-48.active

    = javascript_include_tag "application"

