!!!
%html
  %head
    %title Melhores Pratos
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .wrapper
      = render "layouts/header"
      = render "layouts/banner"

      %section.maincontent
        .container
          = yield

      = render "layouts/footer"

    = link_to "#", class: "scrollup" do
      %i.icon-chevron-up.icon-square.icon-48.active
    = javascript_include_tag "application", "data-turbolinks-track" => true