.row
  .span12
    %article.blog-post
      .post-heading
        %h3 Editar Perfil

    = render "shared/error_messages", resource: resource

    = form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" } do |f|
      .control-group
        = f.label :name, "Nome", class: "control-label"
        .controls
          = f.text_field :name, class: "span8"
      .control-group
        = f.label :email, class: "control-label"
        .controls
          = f.email_field :email, class: "span8"
      .control-group
        = f.label :password, "Senha", class: "control-label"
        .controls
          = f.password_field :password, autocomplete: "off", class: "span8"
          %span.help-block Deixe em branco caso não queira mudá-la
      .control-group
        = f.label :password_confirmation, "Confirmação de Senha", class: "control-label"
        .controls
          = f.password_field :password_confirmation, autocomplete: "off", class: "span8"
      - if f.object.encrypted_password.present?
        .control-group
          = f.label :current_password, "Senha Atual", class: "control-label"
          .controls
            = f.password_field :current_password, autocomplete: "off", class: "span8"
            %span.help-block Precisamos de sua senha para confirmar as alterações
      .control-group
        .controls
          = f.submit "Atualizar", class: "btn btn-theme btn-large"
